# Ignore virtual environment folder
venv_name/

# Ignore specific files or file types (e.g., images or large files)
*.png
*.jpg
*.svg
*.css
*.html
*.js

# Optionally, ignore IDE files (for example, VSCode files)
.vscode/
